
# Ignore everything inside UART_test.srcs
/UART_test.srcs/**

# Allow .v and .xdc files anywhere inside UART_test.srcs
!/UART_test.srcs/**/*.v
!/UART_test.srcs/**/*.xdc

# Ignore typical Vivado-generated stuff
*.jou
*.log
*.pb
*.str
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.webtalk/
*.data/
*.xpr.bak
*.restore.log
*.Xil/
*.wdb
*.bit
*.bin
*.elf